body {
    background: url(../img/beach.png) no-repeat center fixed;
    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    font-size: 1vw;
}

h1 {
    font-size: 2vw;
}

h2 {
    font-size: 1.5vw;
}

button {
    background-color: transparent;
    border-radius: 50px;
    align-items: center;
    font-weight: bold;
    font-size: 1vw;
    height: 1.5vw;
}

.dark-mode-filter {
    transition: 500ms;
    background-color: rgba(28, 2, 67, 0.874);
    background-blend-mode: multiply;
}

.top-left {
    display: inline-block;
}

.lives-header {
    display: inline-block;
}

.lives {
    display: inline-block;
    width: 100%;
}

.life-img {
    width: 3.2vw;
    height: 3.2vw;
    margin-left: 10px;
    background-color: transparent;
}

.time-header {
    position: absolute;
    display: inline-block;
    left: 47%;
    top: 5%;
}

.smiley-btn {
    position: absolute;
    background-image: url('../img/sun.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    left: 90%;
    top: 2%;
    width: 10%;
    height: 12%;
    border: none;
    cursor: pointer;
    background-color: #00000000;
}

.smiley-btn img {
    width: 65%;
    background-color: transparent;
}

.mines-remain {
    position: absolute;
    left: 40%;
    top: 2%;
}

.left-zone {
    position: absolute;
    display: inline-block;
    text-align: center;
    left: 5%;
    top: 37%;
    font-weight: bold;
}

.score-table {
    width: 100%;
    margin-bottom: 10px;
}

fieldset {
    border: 0px;
}

.radio-buttons {
    width: 100%;
    margin: auto;
}

.sandbox-btn {
    margin-top: 10px;
}

.dark-mode-btn {
    background-color: rgb(54, 0, 80);
    font-weight: bold;
    color: white;
}

.toolbox {
    position: absolute;
    display: block;
    top: 40%;
    left: 72%;
    width: 25%;
    background-color: transparent;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    cursor: grab;
}

.toolbox-header {
    font-size: 2.5vw;
    padding: 1vw 0 2vw 0;
    margin: 0px;
}

.toolbox-content {
    max-height: 0;
    overflow: hidden;
    /* transition: all 0.5s ease; */
}

.toolbox button {
    font-size: 1.5vw;
    height: 2vw;
}

.toolbox:hover {
    max-height: 50%;
}

.toolbox:hover .toolbox-content {
    max-height: 50%;
}

.toolbox button:hover {
    background-color: lightgoldenrodyellow;
}

.hints {
    margin-bottom: 1.5vh;
}

.hint-btn {
    width: 15%;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.hint-btn img {
    width: 100%;
    background-color: transparent;
}

.mega-mark {
    outline: 5px solid goldenrod;
    border-radius: 50px;
}

.safe-click {
    cursor: pointer;
    display: block;
    margin: auto;
    margin-bottom: 1.5vh;
}

.undo-btn {
    cursor: pointer;
    display: block;
    margin: auto;
    margin-bottom: 1.5vh;
}

.mega-hint-btn {
    cursor: pointer;
    display: block;
    margin: auto;
    margin-bottom: 1.5vh;
}

.exterminator-btn {
    cursor: pointer;
    display: block;
    margin: auto;
    margin-bottom: 1.5vh;
}

table {
    margin: auto;
    text-align: center;
}

.board-container {
    position: absolute;
    width: 25%;
    height: 58%;
    left: 37%;
    top: 40%;
}

.board-container table {
    table-layout: fixed;
    width: 100%;
    height: 100%;
}

.cell {
    font-size: 1.5em;
    width: calc(100% / 12);
    height: calc(100% / 12);
    color: darkred;
    font-weight: bolder;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 150ms;
}

.cell-shown {
    background-image: url('../img/shown.png');
}

.cell-hidden {
    background-image: url('../img/hidden.png');
    cursor: pointer;
}

.cell-hidden:hover {
    background-image: url('../img/detect.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.cell-marked {
    background-image: url('../img/flag.png');
    cursor: pointer;
}

.cell-mine {
    background-image: url('../img/bomb.png');
    background-size: contain;
}

.modal {
    display: none;
    border: solid 1px black;
    border-radius: 10px;
    width: 18%;
    height: 28%;
    background-color: transparent;
    color: black;
    font-size: 2vw;
    position: absolute;
    top: 68%;
    left: 6%;
    text-align: center;
}

.restart-btn {
    margin-top: 5px;
    background-color: black;
    color: whitesmoke;
    cursor: pointer;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: gray;
    color: white;
    text-align: center;
}
